.main {


  --background: url('/assets/img/dark.jpg')no-repeat center center/cover; 
 }
 
 
 
 
 ion-card{
 box-shadow: none;
 border-radius: 20px;
 background-color: rgba(255,255,255,0.3);
 // backdrop-filter: blur(8px);
 transform:translateY(10%);
 
 }
 
 
 .container {
 color: rgb(255, 255, 255); /* Change the text color to black */
 }
 
 .small-text {
   font-size: 12px; /* Adjust the font size as needed */
 }
 
 
 
 
 
 
 /* Menu styling */
 .menu-item {
   --background:rgb(255, 255, 255); /* Background color of the menu item */
   color: rgb(0, 0, 0); /* Text color of the menu item */
   
 }
 
 .sub-menu-item {
   --background: #efdecd; /* Background color of the submenu items */
   color:rgb(0, 0, 0); /* Text color of the submenu items */
 }
 
 
 
 ion-icon{
   color:red;
 }
 
 
 
 .footer-item {
   --background:#00203FFF; 
   color: #ADEFD1FF; 
 }
 

 ion-header ion-toolbar {
  --background:#00203FFF; 
  color: #ADEFD1FF; 
}